Flask==3.1.2
flask-cors==6.0.1
Flask-Limiter==3.11.0
python-dotenv==1.2.1
stripe==14.0.1
Werkzeug==3.1.4
gunicorn==21.2.0
opencv-python-headless==4.8.1.78
numpy-stl==3.1.1
numpy==1.24.3
Pillow==10.1.0
psycopg2-binary==2.9.9
